{% extends 'base.html' %}

{% block head %}
    <title>ADFTool</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Welcome to the ADFTool</h1>
        <p>You can upload either a single file to be analysed. Once the file has been uploaded, the analysis will begin and take a few minutes to complete. Please be patient while the analysis is being performed and do not refresh the page</p>

        <!-- File upload for analysis -->
        <form action="/" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
            <label>File: </label>
            <input type="file" name="file" id="file"  />
            <input type="submit" value="Upload" />
            <span id="fileError" style="color: red;"></span>
        </form>

        <!-- Display analysis messages -->
        {% if signature_message %}
            <p>{{ signature_message }}</p>
        {% endif %}
        {% if magic_bytes_message %}
            <p>{{ magic_bytes_message|safe }}</p>
        {% endif %}

        {% if progress_messages %}
            <h3>Steganalysis Progress:</h3>
            <ul>
                {% for message in progress_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Displaying the uploaded files in a table format -->
        {% if scans|length < 1 %}
            <h4>There are no files uploaded yet... Upload a file now</h4>
        {% else %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>File</th>
                    <th>File Type</th>
                    <th>File Location</th>
                    <th>Actions</th>
                </tr>

                <!-- Displaying all scans that have been stored in the database -->
                {% for scan in scans %}
                    <tr>
                        <td>{{ scan.date.strftime("%Y-%m-%d") }}</td>
                        <td>{{ scan.filename }}</td>
                        <td>{{ scan.fileextension }}</td>
                        <td>{{ scan.resultpath }}</td>
                        <td>
                            <a href="/view/{{ scan.id }}">View</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}

    </div>

    <script>
        function validateForm() {
            var fileInput = document.getElementById('file');
            var fileError = document.getElementById('fileError');

            if (fileInput.files.length === 0) {
                fileError.textContent = 'Please choose a file before pressing the upload button.';
                return false;
            }

            fileError.textContent = '';
            return true;
        }
    </script>
{% endblock %}